.sidebar {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-white;
    max-width: 280px;
    z-index: 2;
    height: 100%;
    padding: 15px;
    border-right: 2px solid $color-gray1;

    &_inner {
      position: relative;
      height: 100vh;

      .btn {
        max-width: 42px;
        height: 42px;
        position: absolute;
        top: 50%;
        right: -18px;
        transform: translateY(-50%);
      }
    }
  }
}