// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$color-red: #ef4444;
$color-yellow: #fcd34d;
$color-gray1: #e5e5e5;
$color-gray2: #525252;
$color-white: #fff;
$color-pink: #be185d;
$color-blue: #1d4ed8;
$color-black: #000;
