// Variables
@import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

@import 'sidebar';

.text-pink {
  color: $color-pink;
}

.charge {
  &-form {
    max-width: 384px;
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;

    &_item {
      label {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        height: 2.5rem;
        border-radius: .25rem;
    
        >img {
          filter: grayscale(100%);
        }
      }
    
      [type=radio] {
        &:checked + label {
          border: 2px solid $color-red;
    
          >img {
            filter: grayscale(0%);
          }
        }
      }
    }
  }

  &-note {
    padding: 5px;
    border: 2px solid $color-yellow;
    color: $color-red;
    font-size: 14px;
  }

  &-history {
    h2 {
      font-size: 18px;
    }

    &_desc {
      font-size: 14px;
    }
  }
}

.payments {
  &-lists {
    button {
      background-color: $color-gray1;
      width: 100%;

      img {
        width: 1.5rem;
      }

      span {
        font-size: 16px;

        @media screen and (max-width: 767px) {
          display: block;
        }
      }
    }
  }

  &-info {
    p {
      margin-bottom: 0;
    }
  }

  &-convert {
    input {
      border-width: 2px;
      padding-top: 20px;
      font-size: 14px;
      font-weight: bold;

      &:focus {
        box-shadow: none;
      }
    }

    #amount_send:focus {
      border-color: $color-red;
    }

    label {
      font-size: 12px;
      color: $color-gray2;
      position: absolute;
      left: 20px;
      top: 5px;
    }

    .col-5 {
      width: 46%;
    }

    .col-2 {
      width: 8%;
    }

    &_format {
      font-size: 12px;
    }
  }
}

.bank-transfer {
  .modal-header {
    img {
      width: 24px;
    }
  }

  &_name {
    font-size: 14px;
    border-bottom: 1px solid $color-gray1;
    p {
      margin-bottom: 0;
    }

    .btn {
      font-size: 14px;
    }
  }

  &_content {
    font-size: 14px;
    font-weight: 600;

    .box-content {
      border-width: 2px !important;
      border-style: dashed !important;
      border-radius: 3px;

      &.bank {
        border-color: $color-red !important;
        color: $color-red;

        .btn {
          color: $color-white;
          background-color: $color-red ;
        }
      }

      &.momo {
        border-color: $color-pink !important;
        color: $color-pink;

        .btn {
          color: $color-white;
          background-color: $color-pink ;
        }
      }

      &.zalo {
        border-color: $color-blue !important;
        color: $color-blue;

        .btn {
          color: $color-white;
          background-color: $color-blue ;
        }
      }
    }

    .confirm {
      color: $color-white;
      text-decoration: none;
    }
  }
}

.menuToogle {
  display: none;
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: -2px;
  background: rgba(255, 0, 0, 0.48);
  border: none;
  color: $color-white;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  padding: 4px 12px;
  span {
    display: block;
    font-size: 10px;
    margin-top: -6px;
  }
  i {
    font-size: 20px;
  }
}